/* You can add global styles to this file, and also import other style files */
.background-color-dark{
    background-color: #2b3135 !important;
}

.color-header-table{
    color: white;
}

.position-sticky {
    position: sticky;
    top: 11%;
    height: 11%;
}
